* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  height: 140vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1.2fr 4fr 4fr;

  background: linear-gradient(
    90deg,
    rgba(191, 190, 164, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1 / end;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: start;
  padding-top: 15px;
  padding-left: 15px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
}
.sidebar h3 {
  color: #8a6255;
}

.sidebar img {
  height: 40px;
  width: 40px;
  filter: brightness(0) saturate(100%) hue-rotate(300deg);
}
.dashboard {
  display: flex;
  align-items: center;
}
.sidebar ul li {
  font-weight: 700;
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
  color: #8a6255;
}
.sidebar ul li.hovering:hover {
  color: black;
  filter: brightness(0);
}
.sidebar ul li img {
  filter: brightness(0);
  height: 20px;
  width: 20px;
}
.projects {
  grid-column: 2 / 3;
  grid-row: 3 / end;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.projects .projecto {
  margin-left: 26px;
  grid-column: 1 / 3;
}
.projects .card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 16px;
  background-color: white;
  width: 400px;
  height: 200px;
  justify-content: start;
  border-radius: 16px;
  gap: 16px;
}
.card p {
  margin-left: 24px;
  color: gray;
  font-family: "Roboto";
  font-weight: 300;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: var(
    --color,
    linear-gradient(0deg, rgba(198, 156, 147, 1) 0%, rgba(212, 201, 201, 1) 74%)
  );
  border-radius: 8px 0 0 8px; /* Rounded corners for the bar */
}
.options {
  display: flex;
  justify-content: right;
  align-items: end;
  margin-right: 20px;
  margin-top: 20px;
  gap: 32px;
}
.card .options img {
  width: 25px;
  height: 25px;
}

.card h3 {
  margin-top: 32px;
  margin-left: 24px;
}
.navbar {
  grid-column: 2 / end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.navbar .search-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 32px;
  gap: 8px;
}

.navbar .search-logo img {
  height: 20px;
  width: 20px;
}
.navbar .profile {
  font-weight: 700;
}
.navbar input {
  border-radius: 16px;
  border-color: transparent;
  width: 600px;
  height: 22px;
}
.littlebell img {
  height: 20px;
  width: 20px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.navbar .rightside {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.little-pic img {
  margin-top: 8px;
  height: 50px;
  width: 50px;
}
.navbar input:focus {
  outline: none;
}
.header {
  grid-column: 2 / end;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
  height: 90px;
}
.header .leftside {
  display: flex;
  gap: 12px;
  margin-left: 8px;
  align-items: center;
}
.header .leftside img {
  height: 70px;
  width: 70px;
}
.textalignement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightside {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 64px;
}
.hithere {
  align-self: baseline;
}
.announcements {
  grid-column: 3/4;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 12px;
}
.announcements h3 {
  margin-top: 13px;
}
.announcements .news {
  height: 310px;
  width: 260px;
  margin-right: 32px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  overflow: hidden;
}
.news .newsitems {
  display: flex;
  padding: 10px;

  flex-direction: column;
  margin-left: 20px;
  gap: 4px;
}
.news .newsitems h5 {
  align-self: flex-start;
}
.news .newsitems p {
  font-size: 12px;
  font-weight: 600;
}
.line {
  border-top: 1px solid gray; /* Thickness and color of the line */
  /* Full width */
  width: 80%;
  margin: 10px;
  align-self: center;

  /* Space above and below the line */
}
.news p {
  color: gray;
  font-weight: 300;
}
.news div {
  margin-left: 8px;
}
.trending {
  grid-column: 3/4;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
button.qwada {
  width: 85px;
  height: 33px;
  border-radius: 20px;
  background: #5c1717;
  font-weight: 700;

  color: white;
  border-color: transparent;
}
.trending .allusers .user .info {
  display: flex;
  flex-direction: column;
}
.trending .allusers .user img {
  width: 55px;
  height: 50px;
}
.trending .allusers .user {
  flex: 1;
  display: flex;
  margin-top: 24px;
  margin-left: 32px;
  align-items: center;
  gap: 8px;
}
.trending .allusers {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 260px;
  background-color: white;
  border-radius: 10px;
  align-items: start;
  justify-content: center;
}
.trending .allusers .user .info p {
  color: gray;
  font-weight: 300;
}
